<div class="container mt-5">
  <div class="row">
    <div class="col mt-4">
    <br>
      <form class="bg-light border">
        <div class="form-row d-flex justify-content-center mt-3">
          <div class="form-group col-md-2">
            <select id="inputState" class="form-control">
              <option selected>Catégories</option>
              <option>...</option>
            </select>
          </div>
          <div class="form-group col-md-auto">
            <input type="text" class="form-control" placeholder="Que recherchez-vous?" id="inputZip">
          </div>
          <div class="form-group col-md-auto">
            <input type="text" class="form-control" placeholder="Saisissez une ville" id="inputZip">
          </div>
          <div class="form-group col-md-auto">
            <button class="btn btn-primary">Rechercher</button>
          </div>
        </div>
      </form>
      <div class="three-btn mt-3">
        <button type="button" class="btn btn-outline-primary">Sans livraison</button>
        <button type="button" class="btn btn-outline-primary">Prix</button>
        <button type="button" class="btn btn-outline-primary">Tous les filtres</button>
      </div>
      <br>
    <!-- card -->
      <div class="flex">
        <% @products.order(created_at: :desc).each do |product| %>
          <div class="card-trip">
            <div id="carouselExampleFade-<%= product.id %>" class="carousel slide carousel-fade">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="https://picsum.photos/seed/picsum/300/300" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="https://picsum.photos/300/300?grayscale" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="https://picsum.photos/300/300" alt="...">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade-<%= product.id %>" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade-<%= product.id %>" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
            <div class="card-trip-infos">
              <div>
                <%= link_to product_path(product) do %>
                  <h2><%= product.name %></h2>
                <% end %>
                <p class="text-truncate"><%= truncate(product.description, :length => 30) %></p>
              </div>
              <h2 class="card-trip-pricing"><%= product.price %>€</h2>
              <img src="https://picsum.photos/seed/picsum/300/300" class="card-trip-user avatar-bordered rounded-circle" />
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
