<div class="container mt-5">
  <div class="row">
    <div class="col mt-4">
      <div id="carouselExampleFade" class="carousel slide carousel-fade">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://picsum.photos/seed/picsum/1400/800" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://picsum.photos/1400/800" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://picsum.photos/1400/800?grayscale" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div class="product-infos">
        <h2><%= @product.name %></h2>
        <p><%= @product.price %>€</p>
        <p><%= @product.address %></p>

      </div>
      <div class="product-description">
        <span><strong>Description</strong></span>
        <p><%= @product.description %></p>
      </div>
      <div class="create">
        <small class="text-muted" style="margin-left:auto"><%= "#{time_ago_in_words(@product.created_at)} ago"%></small>
      </div>
      <button type="button" class="btn btn-primary btn-lg btn-block">
        <%= link_to "Edit", edit_product_path, class:"text-decoration-none text-white" %>
      </button>
      <button type="button" class="btn btn-primary btn-lg btn-block">
        <%= link_to "Delete", product_path, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"text-decoration-none text-white" %>
      </button>
    </div>
  </div>
</div>
